.blog_style_objects_conteiner_1_0 *{
    background: transparent !important;
}

.pagination-links_0 {
    a{
        border-radius: 50% !important;
    }
}

.ffwd-like:before {
    color: $pastel-yellow;
}