.navbar {
    font-weight: 600;

    .nav-link a {
        color: $dark-gray;
    }

    background: white;

    border-bottom: 3px solid $off-white;

    .navbar-brand {
        max-width: 15%;
    }
}

@media (max-width: 991px) {
    #logo {
        width: 60% !important;
    }
}

.nav-item {
    transition: color 0.5s ease-out;
}