.member-container {
    text-align: center;
}

#our-team {
    .col-6 {
        margin-bottom: 5%;
        padding: 25px 25px 25px 25px;
    }
}

.member-description {
    margin-top: 1rem;

    h5 {
        color: #6a41ca;
    }

    p {
        font-weight: 500;
        font-style: italic;
    }
}

.rounded-circle {
    box-shadow: 0 0 3px 3px $light-gray;
}

@media only screen and (max-width: 1200px) {
    .rounded-circle {
        max-width: 10vh;
        max-height: 10vh;
        object-fit: cover;
    }
}