#promo-page{
    .features-item{
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-align: center;
        display: flex;
        background: #FFC107;
        width:500px;
        height:500px;
    }
}